<div class="template-container">
  <div class="container-esquerda">
    <div class="container-stepper">

      <div class="container-stepper-caixa activo-stepped">
        <span>Propriedade do Reservatorio</span>
      </div>

      <div class="container-stepper-caixa">
        <span>Propriedade do PVT</span>
      </div>

      <div class="container-stepper-caixa">
        <span>
          Historico de produção do tanque
        </span>

      </div>

      <div class="container-stepper-caixa">
        <span>Finalização</span>
      </div>
    </div>

    <div class="formulario">
       <app-prv></app-prv>
       <app-pvt></app-pvt>
       <app-hpt></app-hpt>
       <app-fin></app-fin>
    </div>

  </div>

  <div class="espaco">

  </div>

  <div class="container-directo">
    <div class="container-historico">
      <div class="container-logo">
        <h6>Histórico</h6>
      </div>

      <div class="container-historico-lista">
        <div class="container-box-item">
          <div>
            <span>12-02-2021</span>
          </div>

          <div class="container-box-historico">

          </div>
        </div>


        <div class="container-box-item">
          <div>
            <span>12-02-2021</span>
          </div>

          <div class="container-box-historico">

          </div>
        </div>

        <div class="container-box-item">
          <div>
            <span>12-02-2021</span>
          </div>

          <div class="container-box-historico">

          </div>
        </div>

        <div class="container-box-item">
          <div>
            <span>12-02-2021</span>
          </div>

          <div class="container-box-historico">

          </div>
        </div>

        <div class="container-box-item">
          <div>
            <span>12-02-2021</span>
          </div>

          <div class="container-box-historico">

          </div>
        </div>

        <div class="container-box-item">
          <div>
            <span>12-02-2021</span>
          </div>

          <div class="container-box-historico">

          </div>
        </div>


      </div>
    </div>
  </div>

</div>
